<!doctype html>
<html ng-app="gamelogApp">
  <head>
    <meta charset="utf-8">
    <title ng-bind="'Gamelog - ' + page_title ">Gamelog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" href="/images/favicon-152.png">
    <link rel="shortcut icon" href="/images/favicon-152.png" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://games.greenlightgo.com/images/meeples.png" />
    <meta property="og:description" content= "Gamelog is a social application for logging your boardgame activity with your friends." />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" type="text/css" href="/styles/main.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower|Lato|Roboto|Roboto+Condensed|Material+Icons">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/vendor.min.css">
    <base href="/">
    <!-- endbuild -->
  </head>
  <body resize>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar main-nav" id="js-navbar-collapse">
            <a class="navbar-brand" href="/">G</a>
            <div ng-controller="GameSearchCtrl" ng-cloak id="game-quicksearch">
              <ui-select ng-model="gameSearchResult" on-select="goToGame($item,$model)" data-intro="Search for a game by title" data-position="bottom">
                <ui-select-match placeholder="Search for Games">{{$select.selected.name.value}}</ui-select-match>
                <ui-select-choices refresh="searchGames($select)" refresh-delay="300" repeat="game in searchRes">
                  <span ng-bind-html="game.name.value + ' (' + (game.yearpublished.value || 1900) + ')' | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <ul class="nav navbar-nav">
              <li class="user" ng-controller="UserStatusCtrl">
                <i ng-if="!current_user" ng-click="login()" class="material-icons" uib-tooltip="Log In" title="Log In" data-intro="Click here to log in with Facebook" data-position="right">account_circle</i>
                <div class="dropdown" ng-if="current_user">
                    <img ng-src="{{current_user.profile_pic}}" class="user-profile-pic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-tooltip="Log In" uib-tooltip-position="bottom" title="Log In">
                    <ul class="dropdown-menu">
                      <li><a ng-href="/user/{{current_user.id}}">Me</a></li>
                      <li><a ng-href="/opponents">Me vs. The World</a></li>
                      <li><a href="#" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
              </li>
              <show-help>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="" ng-cloak>
      <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
      </div>
    </div>


    <script type="text/javascript" src="/scripts/vendor.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/nameParser.min.js"></script>
    <script type="text/javascript" src="/scripts/controllers.js"></script>
</body>
</html>
