<div class="container" ng-show="current_game" id="game-page">
	<section class="">
		<img ng-src="{{current_game.image_thumbnail}}">
		<h1>{{current_game.title}} ({{current_game.year_published}})</h1>
		<h2>by {{current_game.designers | humanizedList}}</h2>
		<h3 ng-if="current_game.categories">{{current_game.categories | humanizedList}}</h3>
		<h3 ng-if="current_game.mechanics">{{current_game.mechanics | humanizedList}}</h3>
		<ul class="game-actions">
			<li class=""><a href="https://boardgamegeek.com/boardgame/{{current_game.bgg_id}}" target="_new"><img src="http://cf.geekdo-static.com/images/logos/bgg.png" title="BGG Entry" uib-tooltip="BGG Entry" data-intro="{{current_game.title}} entry on BGG" data-position="top"></a></li>
			<li class="" ng-show="{{current_user}}"><img ng-click="showGameplayForm()" src="images/dice.svg" uib-tooltip="Add a Gameplay" title="Add a Gameplay" data-intro="Log a Gameplay!" data-position="right"></li>
			<li class="" ng-show="{{!current_user}}"><button ng-click="login()">Log in</button> to add a gameplay!</li>
		</ul>
	</section>
	<section class="" ng-show="current_user && show_gameplay_form" id="new-gameplay">
		<ng-form name="newGameplayForm">
			<h2>Add a gameplay</h2>
			<datepicker date-format="shortDate" date-set="{{new_gameplay.play_date.toString()}}" selector="date-played">
				<label>Date:</label>
		  		<input ng-model="new_gameplay.play_date" type="text" class="date-played font-fontawesome font-light radius3" placeholder="&#xf073; Choose a date"/>
			</datepicker>
			<br/><br/>
			<ui-select ng-model="user_search" on-select="addUserToGameplay($item,$model)" style="min-width: 300px;" class="user-quicksearch">
				<ui-select-match placeholder="Search for People">{{$select.selected.full_name}}</ui-select-match>
				<ui-select-choices refresh="searchUsers($select)" refresh-delay="300" repeat="user in searchRes">
				  <img ng-src="{{user.profile_pic}}" class="user-quicksearch-pic"><span ng-bind-html="user.full_name | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
			<ul class="recent-opponents clearfix">
				<li ng-repeat="player in recent_opponents"><user-icon user="player" ng-click="addUserToGameplay(player)" no-link="true"></user-icon></li>
			</ul>
			<ul class="clearfix players">
				<li ng-repeat="score in new_gameplay.scores">
					<user-icon user="score.player"></user-icon>
					<input ng-model="score.points" placeholder="{{score.player.first_name}}'s score" ng-pattern="'[0-9.\-]*'" ng-required="true" ng-blur="calculateGameplayOrder()">
					<i class="fa fa-times" aria-hidden="true" ng-click="removeUserFromGameplay(score.player)" tabindex="-1" class="btn-cancel"></i>
					<aside class="rank" ng-show="score.rank">({{score.rank | ordinal}})</aside>
				</li>
			</ul>
			<button type="button" class="btn btn-primary" ng-click="addGameplay()" ng-disabled="newGameplayForm.$invalid">Go</button>
		</ng-form>
	</section>
	<section id="gameplays">
		<h2>Recent gameplays</h2>
		<article ng-repeat="gameplay in current_game.gameplays" class="well col-xs-12 col-sm-6">
			<p>{{gameplay.play_date | date:'shortDate'}}</p>
			<a ng-if="$first" target="_new" href="https://www.facebook.com/sharer/sharer.php?u=http://games.greenlightgo.com/gameplay/{{gameplay.id}}"><i class="fa fa-facebook-official" aria-hidden="true" uib-tooltip="Share on Facebook" data-intro="Share Gameplay to Facebook" data-position="bottom"></i></a>
			<a ng-if="$first" target="_new" href="http://www.boardgamegeek.com/geekplay.php?objecttype=thing&objectid={{gameplay.Game.bgg_id}}&playdate={{gameplay.play_date | date: 'yyyy-MM-dd'}}&action=new"><img class="bgg-share-icon" src="http://cf.geekdo-static.com/images/logos/bgg.png" uib-tooltip="Log on BGG" data-intro="Record on BGG" data-position="right"></a>
			<a ng-if="!$first" target="_new" href="https://www.facebook.com/sharer/sharer.php?u=http://games.greenlightgo.com/gameplay/{{gameplay.id}}"><i class="fa fa-facebook-official" aria-hidden="true" uib-tooltip="Share on Facebook"></i></a>
			<a ng-if="!$first" target="_new" href="http://www.boardgamegeek.com/geekplay.php?objecttype=thing&objectid={{gameplay.Game.bgg_id}}&playdate={{gameplay.play_date | date: 'yyyy-MM-dd'}}&action=new"><img class="bgg-share-icon" src="http://cf.geekdo-static.com/images/logos/bgg.png" uib-tooltip="Log on BGG"></a>
			<ul class="clearfix">
				<li ng-repeat="score in gameplay.Scores | orderBy: 'rank'">
					<user-icon user="score.Player" rank="score.rank"></user-icon>
					<p>{{score.points}}</p>
				</li>
			</ul>
		</article>
	</section>
</div>
