<div class="container row">
    <ui-select
    ng-model="gameSearchResult" on-select="goToGame($item,$model)" style="min-width: 300px;">
      <ui-select-match placeholder="Search for Games">{{$select.selected.name.value}}</ui-select-match>
      <ui-select-choices refresh="searchGames($select)" refresh-delay="300" repeat="game in searchRes">
        <span ng-bind-html="game.name.value | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
</div>

<div class="container row" ng-show="current_game">
<img ng-src="{{current_game.image_thumbnail}}">
<h1>{{current_game.title}} ({{current_game.year_published}})</h1>
</div>