<div class="container row">
	<section ng-if="current_user">
		<h2>Recently played games:</h2>
		<article ng-repeat="gameplay in recent_gameplays">
			<img ng-src="{{gameplay.Game.image_thumbnail}}">
			<label>{{gameplay.Game.title}}</label>
			<ul class="clearfix players gameplay-scores">
				<li ng-repeat="score in gameplay.Scores | orderBy: 'rank'">
					<user-icon user="score.Player"></user-icon>
					<p>{{score.points}}</p>
				</li>
			</ul>
		</article>
	</section>
	<section ng-if="!current_user">
		<h2>Recently played games:</h2>
		<article ng-repeat="gameplay in recent_gameplays">
			<img ng-src="{{gameplay.Game.image_thumbnail}}">
			<label>{{gameplay.Game.title}}</label>
		</article>
	</section>
</div>
