<div class="container" id="home-page">
	<section ng-if="current_user">
		<h2>Recently played games:</h2>
	    <ul class="pagination" uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="5" class="pagination-sm" boundary-links="!isMobile" num-pages="numPages" ng-change="setPage()" rotate="!isMobile"></ul>
		<gameplay ng-repeat="gameplay in pagedGameplays" gameplay-data="gameplay"></gameplay>
	    <ul class="pagination" uib-pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="5" class="pagination-sm" boundary-links="!isMobile" num-pages="numPages" ng-change="setPage()" rotate="!isMobile"></ul>
	</section>
	<section ng-if="!current_user" class="recent-gameplays-nologin">
		<h2>Recently played games:</h2>
		<article ng-repeat="gameplay in recent_gameplays">
			<a ng-href="/game/{{gameplay.GameId}}"><img ng-src="{{gameplay.Game.image_thumbnail}}" uib-tooltip="{{gameplay.Game.title}}" title="{{gameplay.Game.title}}"></a>
		</article>
		<h2><button ng-click="login()">Log in</button> for more</h2>
	</section>
</div>
