<div class="container" id="opponents-page">
	<ui-select ng-model="user_search" on-select="setCurrentOpponent($item,$model)" style="min-width: 300px;" class="user-quicksearch">
		<ui-select-match placeholder="Search for People">{{$select.selected.name}}</ui-select-match>
	    <ui-select-choices repeat="opponent in opponents">
			<span ng-bind-html="opponent.name | highlight: $select.search"></span>
		</ui-select-choices>
	</ui-select>
	<section ng-show="selected_opponent">
		<article class="well">
			<div class="row col-sm-12">
				<h1>{{selected_opponent.name}}</h1>
				<aside>
					<p>{{selected_opponent.count}} plays, last on {{selected_opponent.last_played | date: 'shortDate'}}</p>
					<p>You beat {{selected_opponent.first_name}} {{selected_opponent.betters}} times.</p>
					<p>You won {{selected_opponent.me_wins}} times against {{selected_opponent.first_name}}, last on {{selected_opponent.me_last_won | date: 'shortDate'}}.</p>
					<p>{{selected_opponent.first_name}} won {{selected_opponent.wins}} times, last on {{selected_opponent.last_won | date: 'shortDate'}}.</p>
				</aside>
			</div>
			<div class="row">		
				<div class="col-sm-6">
					<figure class="chart-opponent">
						<canvas class="chart chart-pie" chart-data="selected_opponent.chart_score_data" chart-labels="['You',selected_opponent.first_name,'Tied']" chart-options="chart_score_options"></canvas> 
					</figure>
				<div class="col-sm-6">
					<figure class="chart-opponent">
						<canvas class="chart chart-horizontal-bar" chart-data="selected_opponent.chart_wins_data" chart-labels="['You',selected_opponent.first_name]" chart-options="chart_wins_options"></canvas> 
					</figure>
				</div>
			</div>
			<ul>
				<li ng-repeat="game in selected_opponent.games">
					{{game.title}}
				</li>
			</ul>
		</article>
	</section>
</div>