<div class="container" id="spinner" ng-show="current_user && is_loading">
	<span us-spinner="{radius:30, width:8, length: 16}"></span>
</div>

<div class="container" id="opponents-page" ng-show="current_user && !is_loading">
	<ui-select ng-model="user_search" on-select="setCurrentOpponent($item,$model)" style="min-width: 300px;" class="user-quicksearch">
		<ui-select-match placeholder="Search for People">{{$select.selected.full_name}}</ui-select-match>
	    <ui-select-choices repeat="opponent in opponents">
			<span ng-bind-html="opponent.full_name | highlight: $select.search"></span>
		</ui-select-choices>
	</ui-select>
	<section ng-show="selected_opponent">
		<article class="well">
			<div class="row col-sm-12">
				<h1><img ng-show="selected_opponent.profile_pic && selected_opponent.profile_pic != ''" ng-src="{{selected_opponent.profile_pic}}" class="profile-circle" alt="{{selected_opponent.initials}}" title="{{selected_opponent.full_name}}" uib-tooltip="{{selected_opponent.full_name}}">{{selected_opponent.full_name}}</h1>
				<aside>
					<p>You played <b>{{selected_opponent_games.length}}</b> games <b>{{selected_opponent.count}}</b> times together in the past year, last on <b>{{selected_opponent.last_played | ordinalDate }}.</b> You had a better score <b>{{selected_opponent.betters}}</b> times. <span ng-show="selected_opponent.ties > 0">You tied <b>{{selected_opponent.ties}}</b> times.</span></p>
					<p>You won <b>{{selected_opponent.me_wins}}</b> times against {{selected_opponent.first_name}}, last on <b>{{selected_opponent.me_last_won | ordinalDate }}</b>. {{selected_opponent.first_name}} won <b>{{selected_opponent.wins}}</b> times, last on <b>{{selected_opponent.last_won | ordinalDate }}.</b></p>
				</aside>
			</div>
			<div class="row">		
				<figure class="col-sm-6 chart-opponent">
					<label>Higher Score</label>
					<canvas class="chart chart-pie" chart-data="selected_opponent.chart_score_data" chart-labels="['You',selected_opponent.first_name,'Tied']" chart-options="chart_score_options"></canvas> 
				</figure>
				<figure class="col-sm-6 chart-opponent">
					<label>Wins</label>
					<canvas class="chart chart-horizontal-bar" chart-data="selected_opponent.chart_wins_data" chart-labels="['You',selected_opponent.first_name]" chart-options="chart_wins_options"></canvas> 
				</figure>
			</div>
			<div class="row well opponent-games">
				<div class="row col-sm-10 col-sm-offset-1 topics-select">
					<ui-select multiple tagging ng-disabled="selected_topics.disabled" ng-model="selected_topics.topics" on-remove="filterTopics()" on-select="filterTopics()" theme="bootstrap" title="Filter by topic">
						<ui-select-match placeholder="Filter by category/mechanic...">{{$item}}</ui-select-match>
						<ui-select-choices repeat="topic in selected_opponent_topics | filter:$select.search">
						  {{topic}}
						</ui-select-choices>
					</ui-select>
	  			</div>
				<ul class="col-xs-6">
					<li ng-repeat="game in filteredByTopic(selected_opponent_games)" ng-click="setCurrentGame(game)" ng-class="{'active':game.id == selected_game.id}">
						<h3>{{game.title}}</h3> (<b>{{game.count}}</b> plays, last on <b>{{game.last_played | ordinalDate }}</b>)
					</li>
				</ul>
				<figure class="col-xs-6 selected-game" ng-show="selected_game">
					<a ng-href="/game/{{selected_game.id}}"><img class="center-block img-responsive game-thumbnail" ng-src="{{selected_game.image_thumbnail}}"></a>
					<label>Higher Score</label>
					<canvas class="chart chart-pie" chart-data="selected_game.chart_score_data" chart-labels="['You',selected_opponent.first_name,'Tied']" chart-options="chart_game_score_options"></canvas> 					<label>Wins</label>

					<canvas class="chart chart-horizontal-bar" chart-data="selected_game.chart_wins_data" chart-labels="['You',selected_opponent.first_name]" chart-options="chart_wins_options"></canvas>
				</figure>
			</div>
		</article>
	</section>
	<section ng-show="!selected_opponent">
	<h2 class="center-block">Pick an opponent above!</h2>
	</section>
</div>
<div class="container" ng-show="!current_user">
	<h2>Please <button ng-click="login()">Log in</button>
</div>