<div class="container" id="spinner" ng-show="current_user && is_loading">
	<span us-spinner="{radius:30, width:8, length: 16}"></span>
</div>

<div class="container" id="year-review-page" ng-show="current_user && !is_loading">
	<h3>{{review_user.first_name}}, you played {{games_count}} different games {{play_count}} times in {{review_year}}.</h3>
	<ul>
		<li>You <b>won</b> {{wins_count}} times, most often against <user-icons users="most_defeated_players"></user-icons>({{most_defeated[0].count}} times).</li>
		<li>You <b>lost</b> {{losses_count}} times, most often against <user-icons users="most_defeated_by_players"></user-icons>({{most_defeated_by[0].count}} times).</li>
		<li>You played <a ng-repeat="game in most_played_games" ng-href="/game/{{game.GameId}}"><img class="img-game" ng-src="{{game.Game.image_thumbnail}}" uib-tooltip="{{game.Game.title}}" title="{{game.Game.title}}"></a> <b>most often</b> ({{most_played_games[0].count}} times).</li>
		<li>
			<p>Your <b>first win</b> was <a ng-href="/game/{{first_win.Gameplay.GameId}}"><img class="img-game" ng-src="{{first_win.Gameplay.Game.image_thumbnail}}" uib-tooltip="{{first_win.Gameplay.Game.title}}" title="{{first_win.Gameplay.Game.title}}"></a>, on {{ first_win.Gameplay.play_date | date: 'shortDate'}}. You <span ng-if="first_win.other_winners.length > 0">and <user-icons users="first_win.other_winners"></user-icons></span> beat <user-icons users="first_win.other_players"></user-icons>.</p>
		</li>
		<li>
			<p>Your <b>last win</b> was <a ng-href="/game/{{last_win.Gameplay.GameId}}"><img class="img-game" ng-src="{{last_win.Gameplay.Game.image_thumbnail}}" uib-tooltip="{{last_win.Gameplay.Game.title}}" title="{{last_win.Gameplay.Game.title}}"></a>, on {{ last_win.Gameplay.play_date | date: 'shortDate'}}. You <span ng-if="last_win.other_winners.length > 0">and <user-icons users="last_win.other_winners"></user-icons></span> beat <user-icons users="last_win.other_players"></user-icons>.</p>
		</li>
		<li class="chart">
			<h4>Here is a breakdown of the games you played, by mechanic. Hover over a bar for more info.</h4>
			<canvas class="chart chart-horizontal-bar" chart-title="By Mechanic" chart-data="mechanics_data" chart-labels="mechanics_labels" chart-options="chart_options"></canvas>
		</li>
		<li class="chart">
			<h4>Here is a breakdown of the games you played, by category. Hover over a bar for more info.</h4>
			<canvas class="chart chart-horizontal-bar" chart-data="categories_data" chart-labels="categories_labels" chart-options="chart_options"></canvas> 
		</li>
	</ul>
</div>
<div class="container" ng-show="!current_user">
	<h2>Please <button ng-click="login()">Log in</button>
</div>