<div class="container" id="spinner" ng-show="current_user && is_loading">
	<span us-spinner="{radius:30, width:8, length: 16}"></span>
</div>

<div class="container" id="year-review-page" ng-show="current_user && !is_loading">
	<h3>You played {{games_count}} different games {{play_count}} times.</h3>
	<ul>
		<li>You won {{wins_count}} times, most often against <user-icons users="most_defeated_players"></user-icons>({{most_defeated[0].count}} times).</li>
		<li>You lost {{losses_count}} times, most often against <user-icons users="most_defeated_by_players"></user-icons>({{most_defeated_by[0].count}} times).</li>
		<li>
			<p>Your first win was <a ng-href="/game/{{first_win.Gameplay.GameId}}"><img class="img-game" ng-src="{{first_win.Gameplay.Game.image_thumbnail}}" uib-tooltip="{{first_win.Gameplay.Game.title}}" title="{{first_win.Gameplay.Game.title}}"></a>, on {{ first_win.Gameplay.play_date | date: 'shortDate'}}. You <span ng-if="first_win.other_winners">and <user-icons users="first_win.other_winners"></user-icons></span> beat <user-icons users="first_win.other_players"></user-icons>.</p>
		</li>
		<li>
			<p>Your last win was <a ng-href="/game/{{last_win.Gameplay.GameId}}"><img class="img-game" ng-src="{{last_win.Gameplay.Game.image_thumbnail}}" uib-tooltip="{{last_win.Gameplay.Game.title}}" title="{{last_win.Gameplay.Game.title}}"></a>, on {{ last_win.Gameplay.play_date | date: 'shortDate'}}. You <span ng-if="last_win.other_winners.length > 0">and <user-icons users="last_win.other_winners"></user-icons></span> beat <user-icons users="last_win.other_players"></user-icons>.</p>
		</li>
	</ul>
	<canvas class="chart chart-horizontal-bar" chart-data="mechanics_data" chart-labels="mechanics_labels" chart-options="chart_options"></canvas> 
	<canvas class="chart chart-horizontal-bar" chart-data="categories_data" chart-labels="categories_labels" chart-options="chart_options"></canvas> 
</div>
<div class="container" ng-show="!current_user">
	<h2>Please <button ng-click="login()">Log in</button>
</div>